body {
    background-color: #ede2d6;
}
.gallery {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 400px; /* øgede højder for større billeder */
    gap: 20px;
    padding: 40px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery img:hover {
    transform: scale(1.05);
    filter: brightness(0.8);
    
}

.gallery img {
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
    object-fit: cover; /* fylder cellen uden forvrængning */
    display: block;
}

/* Øverste række */
.small:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1;
}

.small:nth-of-type(2) {
    grid-column: 2;
    grid-row: 1;
}

.small:nth-of-type(3) {
    grid-column: 3;
    grid-row: 1;
}

/* Nederste venstre */
.medium {
    grid-column: 1;
    grid-row: 2;
}

/* Nederste højre – pool billedet */
.large {
    grid-column: 2 / 4;
    grid-row: 2;
    object-fit: contain;
}


